* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("1055726.png");
  background-size: auto;
}

.login_container {
  position: relative;
  z-index: 1;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  padding: 20px;
  width: 300px;
  margin-top: -50px;
}
.login_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: -1;
}
.login_title {
  color: #fff;
  text-align: center;
  margin: 20px 0;
}
.login_input_container {
  max-width: 250px;
  margin: 0 auto;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
input {
  padding: 11px;
  margin-top: 25px;
  border: none;
  border-radius: 10px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 13px;
}
input::placeholder {
  color: #fff;
}
input:focus {
  outline: none;
}
.options {
  display: flex;
  align-items: center;
  margin-top: 15px;
  font-size: 12px;
  color: white;
}
.options input {
  margin-right: 5px;
  margin-top: 0px;
}
.options a {
  text-decoration: none;
  color: white;
  margin-left: auto;
}
button {
  background: #fff;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 15px;
}
button:hover {
  background: transparent;
  color: white;
  outline: 1px solid #fff;
}
p {
  font-size: 12px;
  color: #fff;
  margin-top: 15px;
}
#to_sign_up_page {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

#signup_form {
  display: none;
}

#signup_form button {
  width: 70%; /* updated this one */
  align-self: center;
  background: #fff;
  color: black;
  padding: 8px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 15px;
}

#signup_form button:hover {
  background: transparent;
  color: white;
  outline: 1px solid #fff;
}

#signup_form p {
  font-size: 12px;
  color: #fff;
  text-align: center;
  margin-top: 15px;
}

p a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

p a:hover {
  color: #ffcccb;
}

#signup_form input {
  /* new added */
  padding: 8px;
  margin-top: 15px;
  border: none;
  border-radius: 10px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 12px;
  width: 90%;
  box-sizing: border-box;
}
#signup_form .login_input_container {
  max-width: 250px; /* new added */
  margin: 0 auto;
  text-align: center;
}

#forgot_password_modal {
  /* new added 2 */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  padding: 20px;
  width: 300px;
  z-index: 10;
}

#forgot_password_modal input {
  /* new added 2 */
  padding: 10px;
  margin: 10px 0;
  align-self: center;
  border: none;
  border-radius: 10px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  width: 85%;
  box-sizing: border-box;
}

#forgot_password_modal button {
  /* new added 2*/
  width: 55%;
  align-self: center;
  background: #fff;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

#forgot_password_modal button:hover {
  /* new added 2 */
  background: transparent;
  color: white;
  outline: 1px solid #fff;
}
